@font-face {
    font-family: 'open-sans';
    src: url(../fonts/OpenSans-Regular.ttf);
    font-style: normal;
    font-weight: 400;
    font-display: swap;
}
@font-face {
    font-family: 'open-sans';
    src: url(../fonts/OpenSans-Semibold.ttf);
    font-style: normal;
    font-weight: 600;
    font-display: swap;
}

@font-face {
    font-family: 'roboto';
    src: url(../fonts/Roboto-Regular.ttf);
    font-style: normal;
    font-weight: 400;
    font-display: swap;
}

@font-face {
    font-family: 'roboto';
    src: url(../fonts/Roboto-Light.ttf);
    font-style: normal;
    font-weight: 300;
    font-display: swap;
}

@font-face {
    font-family: 'roboto';
    src: url(../fonts/Roboto-Bold.ttf);
    font-style: normal;
    font-weight: 700;
    font-display: swap;
}
